body {
    background-color: lightgrey;
}

div {
    border: 4px solid rgb(104, 100, 100);
    border-radius: 10px;
    width: 15%;
    text-align: left;
    margin-left: 50%;
    margin: auto;
    margin-top: 15%;
}

h3 {
    text-align: center;
    color: blanchedalmond;
    background-color: slategray;

}